div.app {
  width: 500px;
  margin: 0 auto;

  div.main {
    display: grid;
    grid-template-columns: 50px calc(100% - 50px);
  }
}
@media screen and (max-width: 510px) {
  div.app {
    width: 100%;
  }
}
