div.navbar {
  div.wrapper {
    position: fixed;

    div.home {
      padding: 10px;
      padding-bottom: 20px;
    }

    div.followingFeed {
      padding: 10px;
      padding-bottom: 20px;
    }
    div.following {
      border-top: 0.5px solid rgba(0, 0, 0, 0.088);
    }
  }
}
