div.header {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 0.5px solid rgba(0, 0, 0, 0.214);
  background-color: #fff;

  div.logo {
    display: flex;
    align-items: center;

    a:hover {
      cursor: pointer;
    }

    img {
      width: 30px;
      margin-right: 5px;
    }
    p {
      font-weight: 600;
    }
  }
  div.profile {
    div.sign_in_button {
      p {
        font-size: 14px;
        font-weight: 500;
        cursor: pointer;
      }
    }
  }
}
